In [27]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv('./data/동물병원위도경도(UTF-8)정상.csv')

In [13]:
df

,Unnamed: 0,Unnamed: 0.1,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,...,재개업일자,전화번호,소재지면적,소재지우편번호,지번주소,도로명주소,도로명우편번호,사업장명,위도,경도
0,0,0,3170000.0,3.170000e+17,20180410.0,NaN,1.0,영업/정상,0.0,정상,...,NaN,802-2811,227.32,NaN,서울특별시 금천구 시흥동 904-6 서우빌딩,서울특별시 금천구 시흥대로 172 서우빌딩 (시흥동),8631.0,더조은 동물의료센터,37.449477,126.903299
1,1,1,3040000.0,3.040000e+17,20030926.0,NaN,1.0,영업/정상,0.0,정상,...,NaN,457-4545,125.40,NaN,서울특별시 광진구 구의동 68-37,서울특별시 광진구 광나루로 507 (구의동),4976.0,광진동물의료센터,37.545192,127.085929
2,2,2,3220000.0,3.220000e+17,20210408.0,NaN,1.0,영업/정상,0.0,정상,...,NaN,02-2237-7582,NaN,NaN,서울특별시 강남구 청담동 46 베디베로스퀘어,서울특별시 강남구 삼성로133길 7 베디베로스퀘어 5층 (청담동),6068.0,놀로동물행동클리닉,37.511950,127.099102
3,3,3,3090000.0,3.090000e+17,20190410.0,NaN,1.0,영업/정상,0.0,정상,...,NaN,3491-8000,NaN,NaN,서울특별시 도봉구 방학동 680-1번지 1층,서울특별시 도봉구 도봉로 669 1층 (방학동),1346.0,현대종합동물병원,37.664194,127.042264
4,4,4,3130000.0,3.130000e+17,20000211.0,NaN,1.0,영업/정상,0.0,정상,...,NaN,02-325-2026,0.00,NaN,서울특별시 마포구 합정동 411-18번지,서울특별시 마포구 독막로 45 (합정동),4047.0,홍익동물종합병원,37.548054,126.918368
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
898,1417,2005,3140000.0,3.140000e+17,20210820.0,NaN,1.0,영업/정상,0.0,정상,...,NaN,226918119,62.00,NaN,서울특별시 양천구 신월동 559-7 2층,서울특별시 양천구 신월로10길 22 2층층 (신월동),8065.0,정말로동물병원,NaN,NaN
899,1418,2006,3130000.0,3.130000e+17,20180720.0,NaN,1.0,영업/정상,0.0,정상,...,NaN,02-3142-7298,0.00,NaN,서울특별시 마포구 서교동 444-5,서울특별시 마포구 월드컵로 46 2층 (서교동),4029.0,이층애 고양이동물병원,NaN,NaN
900,1419,2007,3230000.0,3.230000e+17,20210824.0,NaN,1.0,영업/정상,0.0,정상,...,NaN,02-407-7579,0.00,NaN,서울특별시 송파구 장지동 884 위례2차아이파크,서울특별시 송파구 위례광장로 230 119120호 (장지동 위례2차아이파크),5849.0,위례 별 동물의료센터,NaN,NaN
901,1420,2008,3140000.0,3.140000e+17,20210825.0,NaN,1.0,영업/정상,0.0,정상,...,NaN,02-2694-7575,110.62,NaN,서울특별시 양천구 신월동 536-6 1층,서울특별시 양천구 신월로 179 1층 (신월동),8030.0,신월라온동물의료센터,NaN,NaN
902,1421,2009,3110000.0,3.110000e+17,20170308.0,NaN,1.0,영업/정상,0.0,정상,...,NaN,02-356-9475,0.00,NaN,서울특별시 은평구 불광동 643 북한산 힐스테이트7차 상가동 지하2층 128호 지하...,서울특별시 은평구 통일로 796 상가동 지하2층 128호 지하1층 228호 (불광동...,3357.0,담은동물병원,NaN,NaN

In [14]:
df.to_json('동물병원.json')

In [15]:
coordinate_df = df[['위도','경도']].dropna()
coordinate_df

            위도          경도
0    37.449477  126.903299
1    37.545192  127.085929
2    37.511950  127.099102
3    37.664194  127.042264
4    37.548054  126.918368
..         ...         ...
396  37.519966  126.969859
397  37.599745  126.918113
398  37.535634  127.081896
399  37.653052  127.068132
400  37.553395  126.843594

[401 rows x 2 columns]

In [16]:
coordinate_df

            위도          경도
0    37.449477  126.903299
1    37.545192  127.085929
2    37.511950  127.099102
3    37.664194  127.042264
4    37.548054  126.918368
..         ...         ...
396  37.519966  126.969859
397  37.599745  126.918113
398  37.535634  127.081896
399  37.653052  127.068132
400  37.553395  126.843594

[401 rows x 2 columns]

In [17]:
lan = df[['위도']].to_numpy

In [18]:
lng = df[['경도']].to_numpy

In [19]:
name = df['사업장명'].dropna()

In [20]:
coordinate = coordinate_df.to_numpy

In [21]:
coordinate

<bound method DataFrame.to_numpy of             위도          경도
0    37.449477  126.903299
1    37.545192  127.085929
2    37.511950  127.099102
3    37.664194  127.042264
4    37.548054  126.918368
..         ...         ...
396  37.519966  126.969859
397  37.599745  126.918113
398  37.535634  127.081896
399  37.653052  127.068132
400  37.553395  126.843594

[401 rows x 2 columns]>

In [22]:
data = {'Name':df['사업장명'],
       'coordinate': coordinate}

In [23]:
pd.DataFrame(data)

            Name                                         coordinate
0     더조은 동물의료센터  <bound method DataFrame.to_numpy of           ...
1       광진동물의료센터  <bound method DataFrame.to_numpy of           ...
2      놀로동물행동클리닉  <bound method DataFrame.to_numpy of           ...
3       현대종합동물병원  <bound method DataFrame.to_numpy of           ...
4       홍익동물종합병원  <bound method DataFrame.to_numpy of           ...
..           ...                                                ...
898      정말로동물병원  <bound method DataFrame.to_numpy of           ...
899  이층애 고양이동물병원  <bound method DataFrame.to_numpy of           ...
900  위례 별 동물의료센터  <bound method DataFrame.to_numpy of           ...
901   신월라온동물의료센터  <bound method DataFrame.to_numpy of           ...
902       담은동물병원  <bound method DataFrame.to_numpy of           ...

[903 rows x 2 columns]

In [24]:
from geojson import Point
import json
from geojson import Point, Feature, FeatureCollection, dump
# to string 
# 만일 없으면

In [25]:
a = {}
features = []
for i in range(0,len(coordinate_df)): 
    #print(coordinate_df.loc[i])
    #print(coordinate_df.loc[i]['위도'])
    #print(coordinate_df.loc[i]['경도'])
    point = Point((coordinate_df.loc[i]['위도'],coordinate_df.loc[i]['경도']))
    features.append(Feature(geometry=point, properties={"name": name[i],"type":"animal_hospital"}))

with open('your_file.txt', 'w') as f:
    for item in features:
        f.write("%s\n" % item)

In [26]:
import numpy as np

coords = np.random.rand(10000, 2) * 2

In [ ]:
a

In [ ]:
b

In [31]:
import numpy as np
from geojson import Point, Feature, FeatureCollection, dump
a = np.random.randint(37584980, 37612181, size=1000) / 1000000
b = np.random.randint(127031133,127058599,size = 1000) / 1000000
features = []
for i in range(0,len(a)): 
    #print(coordinate_df.loc[i])
    #print(coordinate_df.loc[i]['위도'])
    #print(coordinate_df.loc[i]['경도'])
    point = Point((b[i],a[i]))
    features.append(geometry=point,_id={i})

# with open('random_point.txt', 'w') as f:
#     for item in features:
#         f.write("%s\n" % item)

TypeError: append() takes no keyword arguments