In [1]:
import pandas as pd
import numpy as np

In [15]:
df = pd.DataFrame()

In [16]:
df['1'] = [1,2,3] = >첫 df를 말하는거에요

In [17]:
df['2'] = [4,5,6]

In [18]:
df.mean()

1    2.0
2    5.0
dtype: float64

In [19]:
df1 = pd.DataFrame()

In [20]:
df1 = df.mean()

In [21]:
(df - df1)/df1

     1    2
0 -0.5 -0.2
1  0.0  0.0
2  0.5  0.2