In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.DataFrame()

In [3]:
df['1'] = [1]

In [4]:
df['2'] = [2]

In [5]:
df['3']=df['1']+ df['2']

In [6]:
df['3']

0    3
Name: 3, dtype: int64

In [7]:
df

   1  2  3
0  1  2  3