In [1]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [11]:
url = "https://www.animal.go.kr/front/awtis/certification/certificationList.do?menuNo=3000000012"

In [12]:
# BeautifulSoup 라이브러리를 이용하여 html 문서 가져오기
result = urlopen(url)
html = result.read()
soup = BeautifulSoup(html, 'html.parser')

In [13]:
def get_info(url) :
    url = url
    result = urlopen(url)
    html = result.read()
    soup = BeautifulSoup(html, 'html.parser')
    # 표에 해당하는 table 태그 찾기
    tables = soup.select('table')
    # 하나의 테이블 태그 선택하기
    table = tables[0]
    # 테이블 html 정보를 문자열로 변경하기
    table_html = str(table)
    # 판다스의 read_html로 테이블 정보 읽기
    table_df_list = pd.read_html(table_html)
    # 데이터프레임 선택하기
    table_df = table_df_list[0]
    
    return table_df

In [5]:
url = "https://www.animal.go.kr/front/awtis/certification/certificationList.do?totalCount=350&pageSize=10&menuNo=3000000012&&page="

df_fin = pd.DataFrame()

for i in range(1, 36) :
    urlfin = url+str(i)
    page_df = get_info(urlfin)
    df = pd.DataFrame(page_df)
    df_fin = pd.concat([df_fin, df], axis = 0, ignore_index=True)
    
df_fin

,번호,인증번호,농장명,농장소재지,인증품목,인증날짜,사육시설,사육규모(마리),자유방목
0,350,동물복지-13-11-3-1,태양농장,충청남도청양군,육계,2021-10-01,"3동 4,939.2㎡",93843,X
1,349,동물복지-15-09-1-1,영농조합법인 한나수목원,전라남도고흥군,산란계,2021-09-28,"3동 2,932.95㎡",16900,O
2,348,동물복지-13-06-1-2,알로만농장,충청남도논산시,산란계,2021-09-28,"3동 2,724㎡",18900,X
3,347,동물복지-12-10-1-5,농업회사법인(주)조하 삼성지점,충청북도음성군,산란계,2021-09-14,"12동 14,385.6㎡",107298,X
4,346,동물복지-14-04-6-2,세원농장,전라북도정읍시,젖소,2021-09-08,"2동 3,433.53㎡",155,X
...,...,...,...,...,...,...,...,...,...
345,5,동물복지-12-11-1-2,부유농원,충청북도단양군,산란계,2012-07-11,"2동 2,609.1㎡",10000,O
346,4,동물복지-12-11-1-3,영춘양계,충청북도단양군,산란계,2012-07-11,"8동 2,108.8㎡",15000,X
347,3,동물복지-12-11-1-4,용소농장,충청북도단양군,산란계,2012-07-11,"10동 2,077.92㎡",14000,X
348,2,동물복지-11-01-1-1,양지마을농장,강원도춘천시,산란계,2012-07-11,"7동 1,558.2㎡",10000,X
349,1,동물복지-12-03-1-2,강희농장,충청북도제천시,산란계,2012-07-11,"6동 1,502.98㎡",7500,X

In [7]:
df_fin.to_csv('동물복지충산농장.csv',encoding = 'euc-kr')

In [9]:
df_fin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2065 entries, 0 to 2064
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   번호      2065 non-null   int64
 1   구분      2065 non-null   object
 2   업체명     2064 non-null   object
 3   전화번호    2065 non-null   object
 4   소재지     2065 non-null   object
 5   인허가번호   2065 non-null   int64
dtypes: int64(2), object(4)
memory usage: 96.9+ KB

In [33]:
#########################################################

In [22]:
# 표에 해당하는 table 태그 찾기
tables = soup.select('table')

# 하나의 테이블 태그 선택하기
table = tables[0]

# 테이블 html 정보를 문자열로 변경하기
table_html = str(table)

# 판다스의 read_html로 테이블 정보 읽기
table_df_list = pd.read_html(table_html)

# 데이터프레임 선택하기
table_df = table_df_list[0]

In [23]:
table_df

,번호,구분,업체명,전화번호,소재지,인허가번호
0,125,수입,굿피트,***********,서울특별시 동대문구 답십리동,305000003720200007
1,124,수입,펫스토어1004,***********,서울특별시 중랑구 중화동,306000003720200004
2,123,수입,호펫 강아지 고양이 성신여대본점,0507-1306-9216,서울특별시 성북구 동선동3가,307000003720190010
3,122,수입,도무스 펫샵,***********,서울특별시 은평구 녹번동,311000003720180073
4,121,수입,디지탈디자인(INTERZOO),02-308-8494,서울특별시 은평구 수색동,311000003720140008
5,120,수입,주식회사 코리아팩토리,02-2256-7112,서울특별시 서대문구 홍제동,312000003720200004
6,119,수입,카카오독,***********,서울특별시 강서구 화곡동,315000003720210007
7,118,수입,수아쿠아,***********,서울특별시 금천구 가산동,317000003720190007
8,117,수입,베이비몽,02-6180-0986,서울특별시 영등포구 영등포동4가,318000003720200005
9,116,수입,algok kennel(알곡켄넬),***********,서울특별시 강남구 청담동,322000003720210031