In [1]:
import pandas as pd
import numpy as np
 
animal_equip = pd.read_csv('D:/OneDrive/DataScience/프로젝트(파이널)/Data/서울열린데이터광장/서울특별시 동물용의료용구판매업 인허가 정보.csv',encoding = 'euc-kr')

In [3]:
animal_equip

,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,...,데이터갱신구분,데이터갱신일자,업태구분명,좌표정보(X),좌표정보(Y),축산업무구분명,축산물가공업구분명,축산일련번호,권리주체일련번호,총인원
0,3130000,313000001320210002,20210120,NaN,1,영업/정상,0,정상,NaN,NaN,...,I,2020-11-30 22:02:00.0,NaN,191578.189539,450099.587238,NaN,NaN,NaN,NaN,NaN
1,3200000,320000001320210002,20210120,NaN,1,영업/정상,0,정상,NaN,NaN,...,I,2020-11-30 22:02:00.0,NaN,192012.500670,441885.529641,NaN,NaN,NaN,NaN,NaN
2,3210000,321000001320130001,20130409,NaN,1,영업/정상,0,정상,NaN,NaN,...,I,2018-08-31 23:59:59.0,NaN,201458.787242,445354.452726,동물용의료용구판매업,NaN,NaN,L00,NaN
3,3210000,321000001320140002,20140729,NaN,1,영업/정상,0,정상,NaN,NaN,...,I,2018-08-31 23:59:59.0,NaN,200870.864125,443255.166862,동물용의료용구판매업,NaN,NaN,L00,NaN
4,3210000,321000001320020002,20021204,NaN,1,영업/정상,0,정상,NaN,NaN,...,I,2018-08-31 23:59:59.0,NaN,NaN,NaN,동물용의료용구판매업,NaN,NaN,L00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
391,3210000,321000001320210002,20210811,NaN,1,영업/정상,0,정상,NaN,NaN,...,I,2020-12-07 23:03:00.0,NaN,201213.640699,442739.647017,NaN,NaN,NaN,NaN,NaN
392,3130000,313000001320210007,20210819,NaN,1,영업/정상,0,정상,NaN,NaN,...,I,2020-12-07 22:01:00.0,NaN,194301.304866,449388.053901,NaN,NaN,NaN,NaN,NaN
393,3110000,311000001320210001,20210823,NaN,1,영업/정상,0,정상,NaN,NaN,...,I,2020-12-07 22:05:00.0,NaN,193847.429070,460006.426257,NaN,NaN,NaN,NaN,NaN
394,3010000,301000001320200002,20200604,NaN,3,폐업,2,폐업,20210826.0,NaN,...,U,2020-12-07 22:08:00.0,NaN,197814.337747,451705.306153,NaN,NaN,NaN,NaN,NaN
395,3030000,303000001320210004,20210827,NaN,1,영업/정상,0,정상,NaN,NaN,...,I,2020-12-07 22:09:00.0,NaN,201870.416651,449531.347915,NaN,NaN,NaN,NaN,NaN

In [4]:
animal_equip= animal_equip[animal_equip['상세영업상태명']!='폐업']

In [5]:
animal_equip

,개방자치단체코드,관리번호,인허가일자,인허가취소일자,영업상태코드,영업상태명,상세영업상태코드,상세영업상태명,폐업일자,휴업시작일자,...,데이터갱신구분,데이터갱신일자,업태구분명,좌표정보(X),좌표정보(Y),축산업무구분명,축산물가공업구분명,축산일련번호,권리주체일련번호,총인원
0,3130000,313000001320210002,20210120,NaN,1,영업/정상,0,정상,NaN,NaN,...,I,2020-11-30 22:02:00.0,NaN,191578.189539,450099.587238,NaN,NaN,NaN,NaN,NaN
1,3200000,320000001320210002,20210120,NaN,1,영업/정상,0,정상,NaN,NaN,...,I,2020-11-30 22:02:00.0,NaN,192012.500670,441885.529641,NaN,NaN,NaN,NaN,NaN
2,3210000,321000001320130001,20130409,NaN,1,영업/정상,0,정상,NaN,NaN,...,I,2018-08-31 23:59:59.0,NaN,201458.787242,445354.452726,동물용의료용구판매업,NaN,NaN,L00,NaN
3,3210000,321000001320140002,20140729,NaN,1,영업/정상,0,정상,NaN,NaN,...,I,2018-08-31 23:59:59.0,NaN,200870.864125,443255.166862,동물용의료용구판매업,NaN,NaN,L00,NaN
4,3210000,321000001320020002,20021204,NaN,1,영업/정상,0,정상,NaN,NaN,...,I,2018-08-31 23:59:59.0,NaN,NaN,NaN,동물용의료용구판매업,NaN,NaN,L00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
390,3150000,315000001320210003,20210810,NaN,1,영업/정상,0,정상,NaN,NaN,...,I,2020-12-07 23:02:00.0,NaN,186489.058160,448637.060823,NaN,NaN,NaN,NaN,NaN
391,3210000,321000001320210002,20210811,NaN,1,영업/정상,0,정상,NaN,NaN,...,I,2020-12-07 23:03:00.0,NaN,201213.640699,442739.647017,NaN,NaN,NaN,NaN,NaN
392,3130000,313000001320210007,20210819,NaN,1,영업/정상,0,정상,NaN,NaN,...,I,2020-12-07 22:01:00.0,NaN,194301.304866,449388.053901,NaN,NaN,NaN,NaN,NaN
393,3110000,311000001320210001,20210823,NaN,1,영업/정상,0,정상,NaN,NaN,...,I,2020-12-07 22:05:00.0,NaN,193847.429070,460006.426257,NaN,NaN,NaN,NaN,NaN
395,3030000,303000001320210004,20210827,NaN,1,영업/정상,0,정상,NaN,NaN,...,I,2020-12-07 22:09:00.0,NaN,201870.416651,449531.347915,NaN,NaN,NaN,NaN,NaN

In [6]:
import googlemaps
import pandas as pd
places = animal_equip['도로명주소']
my_key = ""
maps = googlemaps.Client(key=my_key)  # my key값 입력
lat = []  #위도
lng = []  #경도

# 위치를 찾을 장소나 주소를 넣어준다.

i=0
for place in places:   
    i = i + 1
    try:
        print("%d번 인덱스에서 %s의 위치를 찾고있습니다"%(i, place))
        geo_location = maps.geocode(place)[0].get('geometry')
        lat.append(geo_location['location']['lat'])
        lng.append(geo_location['location']['lng'])
        

    except:
        lat.append('')
        lng.append('')
        print("%d번 인덱스 위치를 찾는데 실패했습니다."%(i))


# 데이터프레임만들어 출력하기
df = pd.DataFrame({'위도':lat, '경도':lng})
df

1번 인덱스에서 서울특별시 마포구 희우정로10길 28 (망원동)의 위치를 찾고있습니다
2번 인덱스에서 서울특별시 관악구 남부순환로 1430 상가동 지층 비101-4호 (신림동 신림푸르지오아파트)의 위치를 찾고있습니다
3번 인덱스에서 서울특별시 서초구 신반포로43길 11-11 303호 (잠원동)의 위치를 찾고있습니다
4번 인덱스에서 서울특별시 서초구 반포대로28길 43 (서초동)의 위치를 찾고있습니다
5번 인덱스에서 nan의 위치를 찾고있습니다
6번 인덱스에서 서울특별시 서초구 효령로55길 27 (서초동로젠빌딩 1203호)의 위치를 찾고있습니다
7번 인덱스에서 nan의 위치를 찾고있습니다
8번 인덱스에서 서울특별시 서초구 서초중앙로 18 (서초동)의 위치를 찾고있습니다
9번 인덱스에서 서울특별시 서초구 명달로 90 3층 (서초동)의 위치를 찾고있습니다
10번 인덱스에서 nan의 위치를 찾고있습니다
11번 인덱스에서 서울특별시 광진구 아차산로 *** 동신빌딩 지하 *층 (화양동)의 위치를 찾고있습니다
12번 인덱스에서 서울특별시 서초구 강남대로6길 66-18 (양재동 광산빌딩)의 위치를 찾고있습니다
13번 인덱스에서 서울특별시 서초구 강남대로6길 66-18 (양재동 광산빌딩)의 위치를 찾고있습니다
14번 인덱스에서 서울특별시 서초구 강남대로79길 32 제이디 빌딩 1층 (반포동)의 위치를 찾고있습니다
15번 인덱스에서 nan의 위치를 찾고있습니다
16번 인덱스에서 서울특별시 구로구 디지털로32길 30 코오롱디지털타워빌란트 607호 (구로동)의 위치를 찾고있습니다
17번 인덱스에서 서울특별시 송파구 송파대로 201 송파 테라타워2 B동 1515-2호 (문정동)의 위치를 찾고있습니다
18번 인덱스에서 서울특별시 강남구 봉은사로 524 코엑스인터콘티넨탈서울 지하2층 (삼성동)의 위치를 찾고있습니다
19번 인덱스에서 서울특별시 강남구 남부순환로 2645 한독빌딩 4층 4001호 (도곡동)의 위치를 찾고있습니다
20번 인덱스에서 서울특별시 강남구 강남대로 464 비제바노 525호 (역삼동)의 위치를 찾고있습니다
21번 인덱스에서 서울특별시 강남구 테헤란로77길 7 동원빌딩 1층 (삼성동)의 위치를 찾고있습니다
22번 인덱스에서 서울특별시 강남구 도산대로4길 12 장원빌딩 203호 (논현동)의 위치를 찾고있습니다
23번 인덱스에서 서울특별시 송파구 백제고분로 446 송암빌딩 342호 (방이동)의 위치를 찾고있습니다
24번 인덱스에서 서울특별시 강남구 테헤란로77길 7 동원빌딩 (삼성동)의 위치를 찾고있습니다
25번 인덱스에서 서울특별시 강남구 테헤란로 113 목화밀라트 2층 (역삼동)의 위치를 찾고있습니다
26번 인덱스에서 서울특별시 강남구 헌릉로569길 52-23 지하1층 (세곡동)의 위치를 찾고있습니다
27번 인덱스에서 서울특별시 강남구 압구정로34길 26 4층 (신사동)의 위치를 찾고있습니다
28번 인덱스에서 서울특별시 강남구 봉은사로24길 9 대암빌딩 202호 (역삼동)의 위치를 찾고있습니다
29번 인덱스에서 nan의 위치를 찾고있습니다
30번 인덱스에서 서울특별시 강남구 봉은사로108길 39 (삼성동)의 위치를 찾고있습니다
31번 인덱스에서 서울특별시 강남구 테헤란로 412 T412 13층 (대치동)의 위치를 찾고있습니다
32번 인덱스에서 서울특별시 강남구 압구정로 461 지하1층 B111호 (청담동)의 위치를 찾고있습니다
33번 인덱스에서 서울특별시 강남구 학동로 343 (논현동 POBA강남타워 7층 8층)의 위치를 찾고있습니다
34번 인덱스에서 서울특별시 강남구 학동로 343 (논현동 POBA 강남타워 7층 8층)의 위치를 찾고있습니다
35번 인덱스에서 서울특별시 강남구 광평로 280 1612호 (수서동 로즈데일오피스텔)의 위치를 찾고있습니다
36번 인덱스에서 서울특별시 강남구 테헤란로 132 15층 (역삼동 한독약품빌딩)의 위치를 찾고있습니다
37번 인덱스에서 서울특별시 강남구 헌릉로569길 52-23 (세곡동)의 위치를 찾고있습니다
38번 인덱스에서 서울특별시 강남구 테헤란로8길 22 화인빌딩 225호 (역삼동)의 위치를 찾고있습니다
39번 인덱스에서 서울특별시 강남구 선릉로 551 새롬빌딩 2층 (역삼동)의 위치를 찾고있습니다
40번 인덱스에서 서울특별시 강서구 곰달래로 245 (화곡동)의 위치를 찾고있습니다
41번 인덱스에서 서울특별시 강남구 선릉로**길 ** *층 (삼성동)의 위치를 찾고있습니다
42번 인덱스에서 서울특별시 송파구 백제고분로 446 송암빌딩 306호 (방이동)의 위치를 찾고있습니다
43번 인덱스에서 서울특별시 강남구 역삼로 150 영빌딩 (역삼동)의 위치를 찾고있습니다
44번 인덱스에서 서울특별시 강남구 도산대로55길 37 피지에스빌딩 3층 (청담동)의 위치를 찾고있습니다
45번 인덱스에서 nan의 위치를 찾고있습니다
46번 인덱스에서 nan의 위치를 찾고있습니다
47번 인덱스에서 서울특별시 중랑구 봉우재로36길 12 202호 (면목동)의 위치를 찾고있습니다
48번 인덱스에서 서울특별시 송파구 잠실로 62 310동 901호 (잠실동 트리지움)의 위치를 찾고있습니다
49번 인덱스에서 nan의 위치를 찾고있습니다
50번 인덱스에서 nan의 위치를 찾고있습니다
51번 인덱스에서 nan의 위치를 찾고있습니다
52번 인덱스에서 서울특별시 송파구 법원로11길 11 문정현대지식산업센터1-1 A동 410호 (문정동)의 위치를 찾고있습니다
53번 인덱스에서 서울특별시 송파구 위례성대로6길 40 두레빌딩 102호 (방이동)의 위치를 찾고있습니다
54번 인덱스에서 서울특별시 송파구 삼전로 69 유니메드빌딩 5층 (잠실동)의 위치를 찾고있습니다
55번 인덱스에서 서울특별시 송파구 법원로 128 문정에스케이브이원지엘메트로시티 (문정동)의 위치를 찾고있습니다
56번 인덱스에서 서울특별시 송파구 송파대로28길 24 밀리아나2차오피스텔 408호 (가락동)의 위치를 찾고있습니다
57번 인덱스에서 서울특별시 송파구 양재대로71길 30-1 광진빌딩 201호 (방이동)의 위치를 찾고있습니다
58번 인덱스에서 서울특별시 송파구 바람드리16길 5 (풍납동)의 위치를 찾고있습니다
59번 인덱스에서 서울특별시 송파구 중대로 317-10 혜암빌딩 (오금동)의 위치를 찾고있습니다
60번 인덱스에서 서울특별시 송파구 백제고분로 202 두레빌딩 1층 101호 (삼전동)의 위치를 찾고있습니다
61번 인덱스에서 서울특별시 송파구 석촌호수로12길 1-18 1층 (잠실동)의 위치를 찾고있습니다
62번 인덱스에서 서울특별시 송파구 백제고분로 202 두레빌딩 1층 101호 (삼전동)의 위치를 찾고있습니다
63번 인덱스에서 서울특별시 송파구 백제고분로48길 40 (방이동)의 위치를 찾고있습니다
64번 인덱스에서 서울특별시 송파구 백제고분로48길 40 (방이동)의 위치를 찾고있습니다
65번 인덱스에서 서울특별시 구로구 경서로 81 리케이빌딩 (고척동)의 위치를 찾고있습니다
66번 인덱스에서 서울특별시 송파구 오금로 523 339동 28층 1호 (거여동 트리지움)의 위치를 찾고있습니다
67번 인덱스에서 서울특별시 송파구 거마로 89 대우빌딩 3층 (마천동)의 위치를 찾고있습니다
68번 인덱스에서 서울특별시 송파구 위례광장로 136 상가-3동 1층 C-113호 (장지동 위례아이파크)의 위치를 찾고있습니다
69번 인덱스에서 서울특별시 송파구 가락로 41 403호 (석촌동 우암빌딩)의 위치를 찾고있습니다
70번 인덱스에서 서울특별시 송파구 충민로 66 에프-80098010호 (문정동 가든파이브라이프)의 위치를 찾고있습니다
71번 인덱스에서 서울특별시 송파구 백제고분로31길 19 (삼전동3층)의 위치를 찾고있습니다
72번 인덱스에서 서울특별시 송파구 충민로 66 T7141호 (문정동 가든파이브라이프테크노관)의 위치를 찾고있습니다
73번 인덱스에서 서울특별시 송파구 풍성로5길 6 2층 1호 (풍납동)의 위치를 찾고있습니다
74번 인덱스에서 서울특별시 송파구 충민로 66 T동 8층 8020호 (문정동 가든파이브라이프테크노관)의 위치를 찾고있습니다
75번 인덱스에서 서울특별시 강남구 테헤란로 *** 역삼하이츠빌딩 지하*층 (역삼동)의 위치를 찾고있습니다
76번 인덱스에서 서울특별시 송파구 법원로11길 25 에이치비지니스파크 A동 지하층 122호 (문정동)의 위치를 찾고있습니다
77번 인덱스에서 서울특별시 송파구 충민로 66 제지2층 FB2073호 (문정동 가든파이브라이프)의 위치를 찾고있습니다
78번 인덱스에서 서울특별시 송파구 올림픽로 269 6층 (신천동 롯데캐슬골드)의 위치를 찾고있습니다
79번 인덱스에서 서울특별시 서초구 서초대로15길 8-22 대경빌딩 3층 (방배동)의 위치를 찾고있습니다
80번 인덱스에서 서울특별시 강동구 동남로49길 46-17 (둔촌동)의 위치를 찾고있습니다
81번 인덱스에서 서울특별시 송파구 충민로 66 가든파이브라이프 T동 8089호 (문정동)의 위치를 찾고있습니다
82번 인덱스에서 서울특별시 서초구 강남대로79길 32 제이디 빌딩 3층 (반포동)의 위치를 찾고있습니다
83번 인덱스에서 서울특별시 노원구 상계로 *** 상계역 ***-***호 (상계동)의 위치를 찾고있습니다
84번 인덱스에서 서울특별시 강동구 성내로6길 34-24 우창빌딩 2층 202호 (성내동)의 위치를 찾고있습니다
85번 인덱스에서 서울특별시 강동구 올림픽로48길 7 1층 (성내동 축협)의 위치를 찾고있습니다
86번 인덱스에서 서울특별시 구로구 디지털로32길 30 코오롱디지털타워빌란트 607호 (구로동)의 위치를 찾고있습니다
87번 인덱스에서 서울특별시 구로구 경서로 81 리케이빌딩 (고척동)의 위치를 찾고있습니다
88번 인덱스에서 nan의 위치를 찾고있습니다
89번 인덱스에서 nan의 위치를 찾고있습니다
90번 인덱스에서 서울특별시 종로구 종로 255 (종로5가)의 위치를 찾고있습니다
91번 인덱스에서 nan의 위치를 찾고있습니다
92번 인덱스에서 서울특별시 강남구 봉은사로**길 * DECKS 빌딩 *(법정*층)층 (삼성동)의 위치를 찾고있습니다
93번 인덱스에서 nan의 위치를 찾고있습니다
94번 인덱스에서 nan의 위치를 찾고있습니다
95번 인덱스에서 서울특별시 구로구 디지털로32길 30 코오롱디지털타워빌란트 607호 (구로동)의 위치를 찾고있습니다
96번 인덱스에서 서울특별시 중구 서소문로11길 50 607호 (서소문동 신아빌딩)의 위치를 찾고있습니다
97번 인덱스에서 서울특별시 중구 한강대로 416 5층 (남대문로5가 서울스퀘어)의 위치를 찾고있습니다
98번 인덱스에서 서울특별시 중구 을지로 65 SK텔레콤빌딩 (을지로2가)의 위치를 찾고있습니다
99번 인덱스에서 서울특별시 노원구 동일로 **** ***호 (상계동 하이베라스)의 위치를 찾고있습니다
100번 인덱스에서 서울특별시 중구 창경궁로 67 세진빌딩 3층 302호 (주교동)의 위치를 찾고있습니다
101번 인덱스에서 서울특별시 중구 서소문로11길 50 607호 (서소문동)의 위치를 찾고있습니다
102번 인덱스에서 서울특별시 중구 을지로 157 대림상가 12층 53호 (산림동)의 위치를 찾고있습니다
103번 인덱스에서 서울특별시 종로구 종로 ***(종로*가)의 위치를 찾고있습니다
104번 인덱스에서 서울특별시 중구 을지로 148 (을지로3가)의 위치를 찾고있습니다
105번 인덱스에서 서울특별시 용산구 한강대로 312 1층 (갈월동)의 위치를 찾고있습니다
106번 인덱스에서 서울특별시 용산구 청파로 74 전자랜드 본관동 1층 C-112호 (한강로3가)의 위치를 찾고있습니다
107번 인덱스에서 서울특별시 용산구 한강대로 205 D동 7층 701호 (한강로1가 용산파크자이)의 위치를 찾고있습니다
108번 인덱스에서 서울특별시 용산구 한강대로 92 3층 (한강로2가)의 위치를 찾고있습니다
109번 인덱스에서 서울특별시 용산구 후암로4길 7 지하1층 (후암동)의 위치를 찾고있습니다
110번 인덱스에서 서울특별시 용산구 한강대로7길 39 (한강로3가)의 위치를 찾고있습니다
111번 인덱스에서 서울특별시 용산구 원효로 251 3층 (원효로1가 대일빌딩)의 위치를 찾고있습니다
112번 인덱스에서 서울특별시 성동구 아차산로 17 서울숲 L-Tower 3층 305호 (성수동1가)의 위치를 찾고있습니다
113번 인덱스에서 서울특별시 성동구 고산자로 253 다남매 Tower 702호 (도선동)의 위치를 찾고있습니다
114번 인덱스에서 서울특별시 성동구 왕십리로 271 세왕빌딩 별관 1층 (행당동)의 위치를 찾고있습니다
115번 인덱스에서 서울특별시 성동구 연무장11길 15 청운재 6층 (성수동2가)의 위치를 찾고있습니다
116번 인덱스에서 서울특별시 성동구 한림말3길 2 403호 (옥수동)의 위치를 찾고있습니다
117번 인덱스에서 서울특별시 성동구 독서당로 441 (행당동 신동아아파트)의 위치를 찾고있습니다
118번 인덱스에서 서울특별시 성동구 성수일로 77 서울숲 IT 밸리 502호 (성수동1가)의 위치를 찾고있습니다
119번 인덱스에서 서울특별시 광진구 천호대로 632 (능동)의 위치를 찾고있습니다
120번 인덱스에서 서울특별시 광진구 광나루로 528-8 (구의동)의 위치를 찾고있습니다
121번 인덱스에서 서울특별시 광진구 광나루로19길 44-1 (군자동)의 위치를 찾고있습니다
122번 인덱스에서 서울특별시 구로구 디지털로32길 30 코오롱디지털타워빌란트 607호 (구로동)의 위치를 찾고있습니다
123번 인덱스에서 서울특별시 동대문구 회기로 121 (회기동)의 위치를 찾고있습니다
124번 인덱스에서 서울특별시 동대문구 청계천로 485 (신설동 청계천 대성 스카이렉스1)의 위치를 찾고있습니다
125번 인덱스에서 서울특별시 동대문구 천호대로 64 4층 6층 일부호 (용두동)의 위치를 찾고있습니다
126번 인덱스에서 서울특별시 동대문구 망우로12길 1 달란트빌딩 4층 (휘경동)의 위치를 찾고있습니다
127번 인덱스에서 nan의 위치를 찾고있습니다
128번 인덱스에서 서울특별시 중랑구 동일로152길 6-4 (묵동)의 위치를 찾고있습니다
129번 인덱스에서 서울특별시 중랑구 망우로 224 1층 (상봉동)의 위치를 찾고있습니다
130번 인덱스에서 서울특별시 중랑구 동일로157길 60 B동 306호 (묵동)의 위치를 찾고있습니다
131번 인덱스에서 서울특별시 중랑구 중랑역로 196-1 2층 (묵동)의 위치를 찾고있습니다
132번 인덱스에서 서울특별시 중랑구 면목로 387 4층 (면목동 칠성빌딩)의 위치를 찾고있습니다
133번 인덱스에서 서울특별시 성북구 월계로36길 27 105동 1302호 (장위동 꿈의숲대명루첸아파트)의 위치를 찾고있습니다
134번 인덱스에서 서울특별시 강북구 삼양로 356 (수유동)의 위치를 찾고있습니다
135번 인덱스에서 서울특별시 강북구 덕릉로 54 (수유동)의 위치를 찾고있습니다
136번 인덱스에서 서울특별시 송파구 중대로 ** *층 효원빌딩 (가락동)의 위치를 찾고있습니다
137번 인덱스에서 서울특별시 강북구 도봉로77길 6 수유동 이테크밸리 오피스텔 403-2호 (수유동)의 위치를 찾고있습니다
138번 인덱스에서 서울특별시 강북구 도봉로67길 18 수유시장 1층 164-165191-192호 (수유동)의 위치를 찾고있습니다
139번 인덱스에서 서울특별시 구로구 디지털로32길 30 코오롱디지털타워빌란트 607호 (구로동)의 위치를 찾고있습니다
140번 인덱스에서 서울특별시 도봉구 해등로14길 9 1층 (창동)의 위치를 찾고있습니다
141번 인덱스에서 서울특별시 도봉구 도봉로 571 1층 (쌍문동)의 위치를 찾고있습니다
142번 인덱스에서 서울특별시 노원구 동일로174길 27 서울창업디딤터 208호 (공릉동)의 위치를 찾고있습니다
143번 인덱스에서 서울특별시 노원구 동일로 1598 부흥빌딩 1층 우측호 (상계동)의 위치를 찾고있습니다
144번 인덱스에서 서울특별시 은평구 대서문길 43-13 2층 (진관동)의 위치를 찾고있습니다
145번 인덱스에서 서울특별시 은평구 연서로 267-1 (불광동)의 위치를 찾고있습니다
146번 인덱스에서 서울특별시 은평구 연서로37길 25 (불광동)의 위치를 찾고있습니다
147번 인덱스에서 서울특별시 은평구 응암로 337 6층 (응암동 빛터룩스빌딩)의 위치를 찾고있습니다
148번 인덱스에서 서울특별시 서대문구 북아현로 72-10 남미빌딩 2층 202호 (북아현동)의 위치를 찾고있습니다
149번 인덱스에서 서울특별시 서대문구 충정로 23 풍산빌딩 67층 (충정로3가)의 위치를 찾고있습니다
150번 인덱스에서 서울특별시 서대문구 신촌로 91 (창천동)의 위치를 찾고있습니다
151번 인덱스에서 nan의 위치를 찾고있습니다
152번 인덱스에서 서울특별시 마포구 동교로 192-1 1층 101호 (동교동)의 위치를 찾고있습니다
153번 인덱스에서 nan의 위치를 찾고있습니다
154번 인덱스에서 서울특별시 마포구 마포대로 268 (아현동)의 위치를 찾고있습니다

155번 인덱스에서 서울특별시 마포구 양화진2길 8 (합정동)의 위치를 찾고있습니다
156번 인덱스에서 nan의 위치를 찾고있습니다
157번 인덱스에서 서울특별시 마포구 양화로 161 케이스퀘어 612호 (동교동)의 위치를 찾고있습니다
158번 인덱스에서 서울특별시 마포구 성산로4길 75 101동 1504호 (성산동 대원아파트)의 위치를 찾고있습니다
159번 인덱스에서 서울특별시 마포구 마포대로16나길 10-18 1층 (공덕동)의 위치를 찾고있습니다
160번 인덱스에서 서울특별시 마포구 마포대로 25 신한디엠빌딩 7층 736호 (마포동)의 위치를 찾고있습니다
161번 인덱스에서 서울특별시 강서구 공항대로51길 17 1층 (등촌동)의 위치를 찾고있습니다
162번 인덱스에서 서울특별시 강서구 방화대로 294 8층 807-1호 (마곡동 마곡더블유타워)의 위치를 찾고있습니다
163번 인덱스에서 서울특별시 강서구 양천로 401 강서한강자이타워 A층 313호 (가양동)의 위치를 찾고있습니다
164번 인덱스에서 서울특별시 강서구 공항대로 209 1117호 (마곡동)의 위치를 찾고있습니다
165번 인덱스에서 서울특별시 구로구 공원로 3 선경오피스텔 3층 3호 (구로동)의 위치를 찾고있습니다
166번 인덱스에서 서울특별시 서대문구 연세로 *-* VERTIGO **층 (창천동)의 위치를 찾고있습니다
167번 인덱스에서 서울특별시 구로구 공원로 41 529호 (구로동)의 위치를 찾고있습니다
168번 인덱스에서 서울특별시 구로구 디지털로29길 38 (구로동 에이스테크노타워3차 201-N26)의 위치를 찾고있습니다
169번 인덱스에서 서울특별시 구로구 디지털로34길 55 702호 (구로동 코오롱싸이언스밸리2차)의 위치를 찾고있습니다
170번 인덱스에서 서울특별시 금천구 서부샛길 606 대성디폴리스지식산업센터 비동 2603-1호 (가산동)의 위치를 찾고있습니다
171번 인덱스에서 서울특별시 금천구 가산디지털1로 168 우림라이온스밸리 비동 비120호 (가산동)의 위치를 찾고있습니다
172번 인덱스에서 서울특별시 금천구 가산디지털1로 181 가산 더블유센터 120호 (가산동)의 위치를 찾고있습니다
173번 인덱스에서 서울특별시 금천구 가산디지털1로 181 가산 더블유센터 120호 (가산동)의 위치를 찾고있습니다
174번 인덱스에서 서울특별시 금천구 한내로 56 1층 (독산동)의 위치를 찾고있습니다
175번 인덱스에서 서울특별시 금천구 가산디지털2로 184 벽산디지털밸리2차 112호 (가산동)의 위치를 찾고있습니다
176번 인덱스에서 서울특별시 금천구 가산디지털1로 168 우림라이온스밸리 B동 B120호 (가산동)의 위치를 찾고있습니다
177번 인덱스에서 서울특별시 종로구 자하문로 *** 타임***오피스텔 ***호 (부암동)의 위치를 찾고있습니다
178번 인덱스에서 서울특별시 영등포구 여의대방로61길 2 천록빌딩 1110호 (신길동)의 위치를 찾고있습니다
179번 인덱스에서 서울특별시 영등포구 영등포로 353 엔씨티오피스텔 206호 (신길동)의 위치를 찾고있습니다
180번 인덱스에서 서울특별시 영등포구 양평로24길 9 제108동 상가1층 10호 (양평동5가 양평동한신아파트)의 위치를 찾고있습니다
181번 인덱스에서 서울특별시 영등포구 경인로 775 1동 326호 (문래동3가 에이스하이테크시티)의 위치를 찾고있습니다
182번 인덱스에서 서울특별시 구로구 디지털로32길 30 204호 (구로동 코오롱디지털타워빌란트)의 위치를 찾고있습니다
183번 인덱스에서 서울특별시 영등포구 여의대방로61길 2 908호 (신길동 천록빌딩)의 위치를 찾고있습니다
184번 인덱스에서 서울특별시 영등포구 양평로24길 9 109동 17호 (양평동5가 양평동한신아파트)의 위치를 찾고있습니다
185번 인덱스에서 서울특별시 영등포구 양평로24길 9 상가1-7호 (양평동5가 양평동한신아파트)의 위치를 찾고있습니다
186번 인덱스에서 서울특별시 강서구 강서로52길 13 201호 (내발산동)의 위치를 찾고있습니다
187번 인덱스에서 서울특별시 동작구 동작대로21길 36 (사당동)의 위치를 찾고있습니다
188번 인덱스에서 서울특별시 동작구 노량진로22길 25 1층 (본동)의 위치를 찾고있습니다
189번 인덱스에서 서울특별시 동작구 보라매로5길 5 상가동 125126호 (신대방동 보라매우성아파트)의 위치를 찾고있습니다
190번 인덱스에서 서울특별시 성동구 아차산로 66 2층 (성수동2가)의 위치를 찾고있습니다
191번 인덱스에서 서울특별시 관악구 밤골길 20 지하 1층 (신림동)의 위치를 찾고있습니다
192번 인덱스에서 서울특별시 관악구 봉천로 226 금오빌딩 (신림동)의 위치를 찾고있습니다
193번 인덱스에서 서울특별시 서초구 서초중앙로24길 55 서초플라자 4층 401호 (서초동)의 위치를 찾고있습니다
194번 인덱스에서 서울특별시 서초구 강남대로95길 19-4 호영빌딩 1층 101호 (잠원동)의 위치를 찾고있습니다
195번 인덱스에서 서울특별시 서초구 사임당로 39 3층 314호 (서초동 한성빌딩)의 위치를 찾고있습니다
196번 인덱스에서 서울특별시 서초구 사임당로 39 한성빌딩 6센터-3442호 (서초동)의 위치를 찾고있습니다
197번 인덱스에서 서울특별시 강동구 동남로49길 46-17 2층 (둔촌동)의 위치를 찾고있습니다
198번 인덱스에서 서울특별시 강동구 아리수로91길 32-6 유러피안하우스2 (강일동)의 위치를 찾고있습니다
199번 인덱스에서 서울특별시 강동구 양재대로 1404 정원빌딩 (둔촌동)의 위치를 찾고있습니다
200번 인덱스에서 서울특별시 강동구 동남로49길 46-17 (둔촌동)의 위치를 찾고있습니다
201번 인덱스에서 서울특별시 강동구 진황도로49길 38 301호 (길동)의 위치를 찾고있습니다
202번 인덱스에서 서울특별시 강동구 천중로 213 606호 (길동)의 위치를 찾고있습니다
203번 인덱스에서 서울특별시 강동구 올림픽로 834 한강시티라이프 2층 (암사동)의 위치를 찾고있습니다
204번 인덱스에서 서울특별시 성동구 아차산로 66 2층 (성수동2가)의 위치를 찾고있습니다
205번 인덱스에서 서울특별시 금천구 두산로 70 현대지식산업센터 T동 2층 203호 (독산동)의 위치를 찾고있습니다
206번 인덱스에서 서울특별시 구로구 경인로47다길 34-7 101동 801호 (고척동 우성꿈동산아파트)의 위치를 찾고있습니다
207번 인덱스에서 서울특별시 송파구 위례성대로 14 한미타워 (방이동)의 위치를 찾고있습니다
208번 인덱스에서 서울특별시 관악구 법원단지22길 11 가동 302호 (신림동 현대빌라)의 위치를 찾고있습니다
209번 인덱스에서 서울특별시 동대문구 답십리로21길 21 (전농동)의 위치를 찾고있습니다
210번 인덱스에서 서울특별시 중구 남대문로 63 한진빌딩 22층 (소공동)의 위치를 찾고있습니다
211번 인덱스에서 서울특별시 송파구 송파대로 201 송파 테라타워2 B동 2층 210호 (문정동)의 위치를 찾고있습니다
212번 인덱스에서 서울특별시 중랑구 면목로 205   (면목동)의 위치를 찾고있습니다
213번 인덱스에서 서울특별시 노원구 노원로15길 10 하계테크노타운 B동 703호 (하계동)의 위치를 찾고있습니다
214번 인덱스에서 서울특별시 마포구 백범로 205 105동 308호 (신공덕동 펜트라우스)의 위치를 찾고있습니다
215번 인덱스에서 서울특별시 광진구 광나루로 361 지하1층 114호 (군자동 광진 동양파라곤 1단지)의 위치를 찾고있습니다
216번 인덱스에서 서울특별시 송파구 양재대로66길 30 삼신빌딩 3층 (가락동)의 위치를 찾고있습니다
217번 인덱스에서 서울특별시 송파구 오금로 252 3층 1-2호 (송파동 가락삼익맨숀)의 위치를 찾고있습니다
218번 인덱스에서 서울특별시 강남구 테헤란로 501 브이플렉스 7층 717호 (삼성동)의 위치를 찾고있습니다
219번 인덱스에서 서울특별시 중구 통일로 ** 연세대학교 세브란스빌딩 **층 (남대문로*가)의 위치를 찾고있습니다
220번 인덱스에서 서울특별시 금천구 가산디지털2로 123 월드메르디앙2차 703호 (가산동)의 위치를 찾고있습니다
221번 인덱스에서 서울특별시 관악구 신림로 *** ***-*호 (신림동)의 위치를 찾고있습니다
222번 인덱스에서 서울특별시 마포구 마포대로 109 제20층 제오-2002호 (공덕동 롯데캐슬프레지던트)의 위치를 찾고있습니다
223번 인덱스에서 서울특별시 금천구 디지털로9길 33 IT미래TOWER 2006호 (가산동)의 위치를 찾고있습니다
224번 인덱스에서 서울특별시 마포구 마포대로 109 제20층 제오-2002호 (공덕동 롯데캐슬프레지던트)의 위치를 찾고있습니다
225번 인덱스에서 서울특별시 성동구 왕십리로 58 FORHU 606호 (성수동1가)의 위치를 찾고있습니다
226번 인덱스에서 서울특별시 송파구 새말로 62 송파 푸르지오시티 A동 129호 (문정동)의 위치를 찾고있습니다
227번 인덱스에서 서울특별시 구로구 구로중앙로 237 라이프종합공구상가 211호 (구로동)의 위치를 찾고있습니다
228번 인덱스에서 서울특별시 송파구 중대로 197 3층 305호 (가락동)의 위치를 찾고있습니다
229번 인덱스에서 서울특별시 성동구 광나루로8길 10 에이스성수타워1 8층 801호 (성수동2가)의 위치를 찾고있습니다
230번 인덱스에서 서울특별시 종로구 돈화문로11가길 59 140호 (익선동 현대뜨레비앙)의 위치를 찾고있습니다
231번 인덱스에서 서울특별시 서대문구 충정로6안길 27 미근빌딩 4층 1호 (미근동)의 위치를 찾고있습니다
232번 인덱스에서 서울특별시 마포구 성미산로16길 37 15통4반 (연남동)의 위치를 찾고있습니다
233번 인덱스에서 서울특별시 송파구 충민로 10 가든파이브툴 B동 7층 21호 (문정동)의 위치를 찾고있습니다
234번 인덱스에서 서울특별시 영등포구 영중로 23 (영등포동4가)의 위치를 찾고있습니다
235번 인덱스에서 서울특별시 구로구 디지털로32길 30 코오롱디지털타워빌란트 1동 6층 607호 (구로동)의 위치를 찾고있습니다
236번 인덱스에서 서울특별시 송파구 오금로 99 진넥스레이크뷰 8층 (방이동)의 위치를 찾고있습니다
237번 인덱스에서 서울특별시 마포구 마포대로4다길 23-8 (마포동)의 위치를 찾고있습니다
238번 인덱스에서 서울특별시 마포구 망원로2길 95 301호 (망원동 진흥빌라)의 위치를 찾고있습니다
239번 인덱스에서 서울특별시 마포구 망원로2길 95 301호 (망원동 진흥빌라)의 위치를 찾고있습니다
240번 인덱스에서 서울특별시 강동구 양재대로101길 41 301호 (성내동)의 위치를 찾고있습니다
241번 인덱스에서 서울특별시 영등포구 선유로47길 19 우신하이랜드 지층 137호 (양평동4가)의 위치를 찾고있습니다
242번 인덱스에서 서울특별시 구로구 서해안로34가길 53 301호 (개봉동 누리애빌라)의 위치를 찾고있습니다
243번 인덱스에서 서울특별시 강동구 양재대로131가길 4-4 601호 (천호동)의 위치를 찾고있습니다
244번 인덱스에서 서울특별시 강남구 봉은사로 502 삼하빌딩 702호 (삼성동)의 위치를 찾고있습니다
245번 인덱스에서 서울특별시 강남구 봉은사로 502 삼하빌딩 702호 (삼성동)의 위치를 찾고있습니다
246번 인덱스에서 서울특별시 강북구 도봉로 261 507호 (수유동 삼호아파트 수유프라자)의 위치를 찾고있습니다
247번 인덱스에서 서울특별시 중구 퇴계로 439 기업은행성동지점 (황학동)의 위치를 찾고있습니다
248번 인덱스에서 서울특별시 강남구 역삼로7길 22 5678층 (역삼동)의 위치를 찾고있습니다
249번 인덱스에서 서울특별시 동대문구 천호대로 64 (용두동)의 위치를 찾고있습니다
250번 인덱스에서 서울특별시 송파구 송파대로 201 송파 테라타워2 A동 G315-1호 (문정동)의 위치를 찾고있습니다
251번 인덱스에서 서울특별시 용산구 새창로 217 용산토투밸리 1104호 (한강로2가)의 위치를 찾고있습니다
252번 인덱스에서 서울특별시 광진구 능동로 120 건국대학교 창의관 209호 (화양동)의 위치를 찾고있습니다
253번 인덱스에서 서울특별시 송파구 송파대로 201 송파 테라타워2 A동 315-2호 (문정동)의 위치를 찾고있습니다
254번 인덱스에서 서울특별시 강서구 공항대로 200 마곡지웰타워 216호 (마곡동)의 위치를 찾고있습니다
255번 인덱스에서 서울특별시 영등포구 영등포로37길 4 제동열56호 (영등포동5가 동남상가아파트)의 위치를 찾고있습니다
256번 인덱스에서 서울특별시 관악구 봉천로 387 110동 501호 (봉천동 두산아파트)의 위치를 찾고있습니다
257번 인덱스에서 서울특별시 성동구 자동차시장1길 18 화성개발장한평 407호 (용답동)의 위치를 찾고있습니다
258번 인덱스에서 서울특별시 구로구 디지털로31길 41 이앤씨벤처드림타워6차 312동 170호 (구로동)의 위치를 찾고있습니다
259번 인덱스에서 서울특별시 마포구 월드컵북로47길 46 206동 1103호 (상암동 상암월드컵파크 2단지)의 위치를 찾고있습니다
260번 인덱스에서 서울특별시 강남구 언주로 652 쿠쿠빌딩 3층 (논현동)의 위치를 찾고있습니다
261번 인덱스에서 서울특별시 강남구 언주로 652 쿠쿠빌딩 3층 (논현동)의 위치를 찾고있습니다
262번 인덱스에서 서울특별시 강남구 논현로119길 27 201호 (논현동)의 위치를 찾고있습니다
263번 인덱스에서 서울특별시 서초구 언남10길 41 2층 201호 (양재동)의 위치를 찾고있습니다
264번 인덱스에서 서울특별시 서초구 서초중앙로22길 92-13 (서초동화니빌딩 3층)의 위치를 찾고있습니다
265번 인덱스에서 서울특별시 서초구 논현로13길 19 킴스빌딩 2층 (양재동)의 위치를 찾고있습니다
266번 인덱스에서 서울특별시 서대문구 가재울로 ** ***동 ***호 (남가좌동 남가좌동현대아파트)의 위치를 찾고있습니다
267번 인덱스에서 서울특별시 영등포구 도신로**길 ** 타원벨라움 ***호 (도림동)의 위치를 찾고있습니다
268번 인덱스에서 서울특별시 강남구 도곡로**길 ** ***호 (역삼동)의 위치를 찾고있습니다
269번 인덱스에서 서울특별시 강남구 테헤란로**길 ** 동구빌딩 ****호 (대치동)의 위치를 찾고있습니다
270번 인덱스에서 서울특별시 광진구 능동로**길 *** 능동 하늘집 *층 ***호 (능동)의 위치를 찾고있습니다
271번 인덱스에서 서울특별시 영등포구 대림로**길 ** *층 (대림동)의 위치를 찾고있습니다
272번 인덱스에서 서울특별시 종로구 지봉로 ** 삼우텍스프라자 (창신동)의 위치를 찾고있습니다
273번 인덱스에서 서울특별시 노원구 동일로 **** 상가동 ***호 (상계동 상계주공*단지아파트)의 위치를 찾고있습니다
274번 인덱스에서 서울특별시 강남구 테헤란로**길 ** 영빌딩 *층 (역삼동)의 위치를 찾고있습니다
275번 인덱스에서 서울특별시 구로구 가마산로 *** *층 ***호 (구로동 스페스큐브)의 위치를 찾고있습니다
276번 인덱스에서 서울특별시 중구 통일로 ** 연세대학교 세브란스빌딩 **층 (남대문로*가)의 위치를 찾고있습니다
277번 인덱스에서 서울특별시 강서구 까치산로*길 **-**(화곡동 금산빌)의 위치를 찾고있습니다
278번 인덱스에서 서울특별시 서초구 반포대로**길 ** LG서초에클라트 **층 ****호 (서초동)의 위치를 찾고있습니다
279번 인덱스에서 서울특별시 마포구 독막로**길 ** b***-***층 (신수동 밤섬경남아너스빌)의 위치를 찾고있습니다
280번 인덱스에서 서울특별시 은평구 진관*로 **-** ***동 ***호 (진관동 은평뉴타운 상림마을)의 위치를 찾고있습니다
281번 인덱스에서 서울특별시 성동구 독서당로 ***(금호동*가)의 위치를 찾고있습니다

            위도          경도
0    37.553094  126.905469
1    37.479267  126.910368
2    37.510369  127.017272
3    37.491324  127.010686
4    36.127071  -79.860718
..         ...         ...
276  37.544365  126.847955
277  37.486823  127.014829
278  37.546620  126.936280
279  37.642233  126.923114
280  37.545227  127.025308

[281 rows x 2 columns]

In [9]:
df_fin = pd.concat([animal_equip,df],axis = 1)

df_fin.to_csv('동물의료용구판매업(utf-8).csv',encoding='utf-8')