In [1]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import requests
import pandas as pd
import re

In [12]:
a = []
# 0.0005 = 500m
x = 37.555153
y = 127.031133
while x < 37.612181:
    y = 127.031133
    while y < 127.058599:
        a.append((x,y))
        y += 0.0005
        y = round(y,6)
    a.append((x,y))
    x += 0.0005
    x = round(x,6)

In [23]:
df = pd.DataFrame()
df['위경도'] = a

In [14]:
url='https://map.naver.com/'

In [15]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

In [17]:
driver = webdriver.Chrome(executable_path = "D:/OneDrive/DataScience/driver/chromedriver (2).exe" )
driver.get(url)

In [64]:
a[6]

(37.58498, 127.034133)

In [89]:
name_list = []
for i in range(0,len(a)):
    search_box = driver.find_element(By.CLASS_NAME,"input_search")
    search_box.send_keys(str(a[i][0:2]))
    search_box.send_keys("\n") # 엔터효과
    html = driver.page_source
    soup = BeautifulSoup(html, 'html.parser')
    prd_names = soup.find('strong',{'class':'summary_title'})
    name_list.append(prd_names)

In [90]:
df['주소'] = name_list

In [91]:
df

                         위경도                             주소
0     (37.58498, 127.031133)     [ 서울특별시 동대문구 제기동 1205 ,  ]
1     (37.58498, 127.031633)  [ 서울특별시 성북구 안암동5가 86-121 ,  ]
2     (37.58498, 127.032133)                           None
3     (37.58498, 127.032633)   [ 서울특별시 동대문구 제기동 146-13 ,  ]
4     (37.58498, 127.033133)   [ 서울특별시 동대문구 제기동 67-251 ,  ]
...                      ...                            ...
3075  (37.61198, 127.056633)     [ 서울특별시 성북구 장위동 63-36 ,  ]
3076  (37.61198, 127.057133)                           None
3077  (37.61198, 127.057633)     [ 서울특별시 성북구 장위동 63-67 ,  ]
3078  (37.61198, 127.058133)    [ 서울특별시 성북구 장위동 63-129 ,  ]
3079  (37.61198, 127.058633)     [ 서울특별시 성북구 장위동 50-35 ,  ]

[3080 rows x 2 columns]

In [93]:
df.to_csv('초기랜덤서울좌표(틀린거).csv',encoding='euc-kr')